<%= link_to 'Back', tickets_path %>
<h1 style="text-align:center"><% Leelanaufruit::Application.config.NAME %></h1>
<h2 style="text-align:center"><% Leelanaufruit::Application.config.ADDRESS %></h2>
<h1 style="text-align:center"> CHERRY RECEIVING TICKET </h1>

<%= render 'form' %>

<%= link_to 'Back', tickets_path %>
